/* Global styles */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 70px;
	padding: 0;
    background-color: #ff4d4d;
}

h1, h2 {
	font-weight: normal;
    color: #fff;
}

form {
	margin: 0 auto;
	max-width: 500px;
	padding: 20px;
	background-color: #003cb3;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

input[type="submit"] {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #ff6600;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #e65c00;
}

/* Maintenance request form */
label[for="unit"],
label[for="issue"],
label[for="date"],
label[for="time"],
label[for="urgent"] {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
    color:#fff;
}

input[type="text"],
textarea,
input[type="date"],
input[type="time"],
input[type="checkbox"] {
	display: block;
	width: 90%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}

textarea {
	resize: none;
}

input:focus, textarea:focus {
	border-color: #ff6600;
	box-shadow: 0 0 10px rgb(230, 92, 0)
}
