/* Style for the navigation bar */
nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #605F60;
  color: white;
  padding: 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}    
/* Style for the back button */
.back-btn
{
  background-color: #006CDE;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
} 
/* Style for the create account and log in buttons */
.cta-btn
{
  background-color: #006CDE;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
}
.login-btn
{
  background-color: #006CDE;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
}    
/* Style for the listing container */
.listing-container
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
  margin-bottom: 20px;
}    
/* Style for the listing details */
.listing-details
{
  flex-basis: 60%;
  padding: 0 20px;
}    
/* Style for the login container */
.login-container
{
  flex-basis: 35%;
  padding: 0 20px;
}    
/* Style for the form */
form
{
  margin-top: 30px;
}    
/* Style for form labels */
label
{
  display: block;
  margin-bottom: 12px;
}    
/* Style for form inputs */
input
{
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 40px;
  width: 90%;
}    
/* Style for form buttons */
button[type = "submit"]
{
  background-color: #006CDE;
  color: white;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  width: 90%;
}